.letras{
  font-family: 'Poppins', sans-serif;
  margin-left: 35%;
  margin-top: 50px;
}
div{
    display: inline;
    background-color: yellow;
    padding: 8px 15px 3px 3px;
    margin: 5px;
}
#color{
  background-color:  #ff0066;
}
