.letras{
  font-family: 'Poppins', sans-serif;
  margin-left: 30%;
  margin-top: 50px;
}
div{
    display: inline-block;
    background-color: yellow;
    padding: 3px 100px 30px 3px;
    margin: 5px;
    width: 50px;
}
#color{
  background-color:  #ff0066;
}
